* {
  color: #f1f1f1;
}

body {
  background-color: #000000 !important;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.mainContent {
  height: 100vh;
  z-index: 1;
}

.titleContent {
  justify-content: center;
  display: flex;
  align-items: center;
}

.loginContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botaoLogin {
  background-color: #272727;
  border: solid 1px #e8e8e8;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  animation: normal 0.5s;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  margin-top: 25%;
}

.botaoLogin:hover {
  background-color: #7c7b7b;
}

#input-senha {
  margin-bottom: 10px;
  color: #1e1e1e;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.1;
}

.formContent {
  margin-top: 7%;
  border: solid 1px #e8e8e8;
  border-radius: 25px;
  padding: 5% 4% 5% 4%; 
  background-image: linear-gradient(180deg,#00000088 0%, #0000004d 80%, #45025ea7 100%);
}

.loginHeader {
  margin-top: 3%;
  display: block;
}

.inputContent {
  margin-top: 25%;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease !important;
  background-color: transparent !important;
}

.front {
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: -50px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(180deg);
}	

.cadastrar-text, .entrar-text {
  cursor: pointer;
}

#texto-cadastro {
  margin-top: 5%;
}