@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

body {
  color: #f1f1f1;
  background-color: #000000 !important;
  font-family: "Goldman", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  list-style: none;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
  background-color: #000000;
  opacity: 0.05;
}

.video {
  width: 100%;
  height: 100%;
}

.diagonalBackground {
  width: 100%;
  height: 100%;
  transform: rotate(100deg);
  position: absolute;
  right: -30%;
  top: -20%;
  z-index: -999;
  background-color: #ffffff0d;
}

.text-dono {
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 12pt;
  font-weight: bold;
}

.modelos {
  position: absolute;
  top: 32.5%;
  left: 5%;
  font-size: 18pt;
  font-weight: bold;
}

#welcome-text {
  position: absolute;
  top: 10%;
  left: 17.5%;
  text-align: center;
}

#welcome-text span,
#welcome-text p {
  font-size: 24pt;
  font-weight: bold;
}

ul {
  list-style: none;
  font-size: 18pt;
}

.gerenciar-modelos {
  position: absolute;
  top: 50.5%;
  left: 5%;
  font-size: 18pt;
  font-weight: bold;
}

.gerenciar-modelos-text {
  color: #f1f1f1;
  text-decoration: none;
  transition: all 0.5s ease !important;
}

.gerenciar-modelos-text:hover {
  color: #f1f1f1;
  transition: all 0.5s ease !important;
}

.logo-marca {
  position: absolute;
  top: 27.5%;
  right: 12%;
}

.brandInfo {
  z-index: 2;
}

.brandListInfo {
  position: absolute;
  top: 40%;
  left: 16%;
  font-size: 24pt;
}

.hover-underline-animation {
  position: relative;
  color: #fff;
  padding-bottom: 5px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #750085;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-text:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  z-index: -999;
}